body {
    background-image: url(/dymkaArts/wallpapr.png);
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    display: flex;
    font-size: 28px;
    color: #FFFFFF;
}

.verhpanel {
    background: #857FC9;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.verhpanel a {
    float: right;
    color: #FFFFFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.verhpanel a.now {
    font-weight: bold
}

.verhpanel a.nowke {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

@media (orientation: landscape) {
    body {
        width: 1500px;
    }
}

@media (orientation: portrait) {
    body {
        width: 650px;
    }
}
